.Beers {
    border-color: blueviolet!important;
}
.Chasers{
    border-color: BLUE!important;
}
.Soft_Drinks{
    border-color: green!important;
}

.item{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 155px;
    border:blueviolet 2px solid;
    border-style: outset;
    height: 110px;
    width: 110px;
    border-radius: 15px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

