.row {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    border:black 0.5px solid;
    padding: 8px;


}
.name{
    margin-right: 30px;
}
.count{
    height: 26px;
    width: 26px;
    border: black 1px solid;
    text-align: center;
    display: inline-table;
    cursor: pointer;
}
.sum{
    margin-right: 17px;
}
.subBtn{
    color: rgb(205 46 46);
    transform: scale(2.4, 1.5);
    font-weight: 700;
    margin-right: 7px;
    cursor: pointer;

}