.ShoppingCart {
        border: 1px solid gray;
        margin: 10px!important;
        background-color: white;
        color: black;
        height: 93%;

}
.title{
    margin:10px;
}
.shoppingCardInline{
    /* display: initial; */
    /* margin-top: 12px; */
    /* overflow:scroll;*/
    height: 67%!important;
    overflow-y: scroll;
    scroll-margin: 20px;
}

.buttonWarp{


}

.button{
    font-size: 25px;
    width: 18%;
    position: absolute;
    display: table-cell; 
    bottom: 8%;
    margin: 1%;
    background-color: rgb(28, 175, 67);
    border: rgb(35 150 66);
    border-style: double;
    border-radius: 13px;
    color: white;
    filter: drop-shadow(2px 4px 6px black);
}
.button:active {
    background-color: rgb(62, 192, 105);}


.checkBox{
    position: absolute;
    display: table-cell; 
    /* padding:10px; */
    bottom: 5%;

}

  
