.mainTable {
  border-collapse: collapse;
  width: 600px;
  text-align: center;
  display: block;
  padding: 2.3rem;
  min-width: 200px;
  margin: 2rem;
  font-family: verdana;
  font-size: 15pt;
  line-height: 4px;
}

.mainTable tbody {
  overflow-y: scroll;
  /*overflow-x: scroll;*/
  height: 16rem;
  display: inline-table;
}

.mainTable td {
  height: 25px;
  border: dashed 1px rgb(75, 75, 75);
  font-weight: bold;
  min-width: 200px;
}
.mainTable tr:nth-child(odd) {
  min-width: 100px;
  height: 25px;
  border: dashed 1px lightblue;
  background-color: rgb(222, 222, 222);
  border: dashed 1px rgb(75, 75, 75);
}
.mainTable th {
  height: 25px;
  border: dashed 1px rgb(75, 75, 75);
  font-size: larger;
  font-weight: bold;
  background-color: rgb(70, 184, 184);
  min-width: 200px;
  padding: 1rem;
}
